*{
    box-sizing: border-box;
    font-family: Helvetica;
}

html, body{
    margin: 0;
    padding: 0;
}

.nav ul{
    margin: 0
}


.main-header {
    background-color: rgba(0, 0, 0, .4);
    background-image: url("images/banner.jpeg");
    background-position-x: center;
    background-position-y: 15%;
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}