@font-face {
    font-family: "League Gothic Italic";
    src: url("./fonts/LeagueGothic-Italic.woff") format("woff"),
    url("./fonts/LeagueGothic-Italic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "League Gothic";
    src: url("./fonts/LeagueGothic-Regular.woff") format("woff"),
    url("./fonts/LeagueGothic-Regular.woff") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "EB Garamond";
    src: url("./fonts/EBGaramondSC12-Regular.otf") format("otf"),
    url("./fonts/EBGaramondSC12-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

html{
    background-color: black;
}


*{
    box-sizing: border-box;
    font-family: "Helvetica";
    color: gray;
}

html, body{
    margin: 0;
    padding: 0;
}

.nav ul{
    margin: 0
}

.nav li{
    display: inline;
}

.nav a{
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
    font-family: "Times New Roman";
    font-weight: bold;
}

.nav a:hover{
    background-color: rgba(255, 255, 255, .3);
}

.main-nav{
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.main-nav li{
    padding: 0 5%;
}

.main-header {
    background-color: rgba(0, 0, 0, .3);
    background-image: url("./images/banner.jpeg");
    background-position-x: center;
    background-position-y: 15%;
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 0px;
    padding-top: 3px;
    font-size: 1em;
}

.site-name{
    text-align: center;
    margin: 0;
    font-size: 4.5em;
    font-family: "Times New Roman";
    font-weight: "normal";
    font-style: italic;
    color: white;
}

.contect-section{
    margin: 1em;
}

.container{
    max-width: 900px;
    /*margin: 0 auto;*/
    margin: 0 0;
    padding: 0 2em;
}

.section-header{
    /*TODO: Probably change these fonts later on maybe, thinking helvetica or georgia*/
    font-family: "Helvetica";
    font-weight: bold;
    font-style: normal;
    color: #333;
    font-size: 1em
}

.project-page{
    font-family: "EB Garamond";
    font-weight: normal;
    font-style: normal;
    color: lightgray;
    font-size: 2.2em;
    overflow-wrap:break-word;
    text-decoration: none;
}